aiohttp==3.6.2
aiosqlite==0.15.0
async-timeout==3.0.1
asyncpg==0.21.0
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
discord.py==1.4.1
idna==2.10
iso8601==0.1.12
multidict==4.7.6
PyPika==0.38.0
requests==2.24.0
tomlkit==0.7.0
tortoise-orm==0.16.14
typing-extensions==3.7.4.2
urllib3==1.25.10
yarl==1.5.1
